---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
import Download from "../../components/cv/Download.astro";
import Skills from "../../components/cv/Skill.astro";

import { Icon } from 'astro-icon';
import { getCollection } from "astro:content";
const _experiences = await getCollection("experiences");
const experiences = _experiences.map(e => e.data.experiences)[0]

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const _skills = await getCollection("skills");
const skills = _skills.map((e) => e.data.skills)[0]
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div id="cv-page">
    <!-- header -->
    <div class="mb-5">
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">{t("profil")}</div>
      </div>
      <div class="mb-5 text-justify">
        Back-end Developer with <b>PHP</b> and <b>Symfony</b>, with 7 years and 5 years of experience, respectively.<br>
        During my journey, I have been involved in the development of several solutions based on the following technology stacks: 
        <em>PHP (7, 8), Symfony (3, 4, 5, 6), RESTful APIs (API Platform, FastAPI, DjangoNinja), Elasticsearch (ELK), 
          Python (Pandas, Polars, SqlAlchemy, Jupyter).
        </em></br>
        And today, I am leveraging all this knowledge for the benefit of my future clients and collaborators.
        </br>
      </div>
      <div class="mb-5 text-1xl flex"><Icon name="mdi:google-maps" class="w-6"/><b>{t("address")}</b></div>
      <div class="dropdown dropdown-hover">
        <label tabindex="0"><Icon class="mb-5" name="mdi:qrcode-scan" class="w-8"/></label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <img src="/projects/images/qr.png" alt="scan me">
          <span class="text-center">scan me 😉</span>
        </ul>
      </div>
    </div>
    <!-- end header -->
    
    <!-- experiences -->
    <div>
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">{t("experiences")}</div>
      </div>

      <div class="time-line-container mb-10">
        {
          experiences.map((e, i: number) => <TimeLineElement 
            title={e.title} 
            subtitle={e.subtitle}
            tags={e.tags}
            >
            {e.slottilte && <p>{e.slottilte}</p>}
            {
              experiences[i].slot?.map(s =>
                <p class="font-light text-sm flex">
                  {s.desc} {s.project_link && <a href={s.project_link} target="_blank"><Icon name="mdi:web" class="w-4"/></a> }
                </p>
                <div> { s.stacks ? s.stacks.map(stack => <span class="badge badge-outline mr-1">{stack}</span>) : null } </div>
              )
            }
            </TimeLineElement>)
        }

      </div>
    </div>
    <!-- end experiences -->

    <!-- formations -->
    <div>
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">{t("formations")}</div>
      </div>

      <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
          title="ECS (European Communication School)"
          subtitle="Sep 2017 - Jun 2019 Toulouse, France"
        >
          <em>{t("ecs")}</em>
        </TimeLineElement>
        <TimeLineElement
          title="ESTM (Ecole Supérieure de Technologie et de Management de Dakar)"
          subtitle="Sep 2011 - Jui 2014 Dakar, Senegal"
        >
          <em>{t("estm")}</em>
        </TimeLineElement>
      </div>
    </div>
    <!-- end formations -->

    <!-- skills -->
    <div>
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">{t("skills")}</div>
      </div>
      <Skills skills={skills} Icon={Icon} t={t}/>
    </div>
    <!-- end skills -->
  </div>
  <div class="relative">
    <Download t={t} />
  </div>
</BaseLayout>

