---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import SkillElement from "../components/cv/Skill.astro";
import { Icon } from 'astro-icon'
import { getCollection } from "astro:content";
const _experiences = await getCollection("experiences");
const experiences = _experiences.map(e => e.data.experiences)[0]

const _skills = await getCollection("skills");
const skills = _skills.map((e) => e.data.skills)[0]
const languages = skills.languages
const framworks = skills.framworks
const libs_front = skills.libs_front
const versionning = skills.versionning
const installer = skills.installer
const data = skills.data
const monitoring = skills.monitoring
const maps = skills.maps
const os = skills.os
const others = skills.others
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>
  <div class="mb-5 text-justify">
    Développeur Back-end <b>PHP</b> et <b>Symfony</b>, avec respectivement 7 ans et 5 ans
    d’expériences.<br>
    Durant mon parcours, j'ai participé à la réalisation de
    plusieurs solutions basées sur les stacks suivantes : <em>PHP (7, 8), Symfony
    (3, 4, 5, 6), API REST (API Plateforme, FastAPI, DjangoNinja), Elasticsearch
    (ELK), Python (Pandas, Polars, SqlAlchemy, Jupyter)</em>.</br>
    Et aujourd'hui, je mets toutes ces connaissances au profit de mes futurs clients/collaborateurs.
    </br>
  </div>
  <div class="mb-5 text-1xl"><b>95130 - FRANCONVILLE, ILE DE FRANCE</b></div>
  <div class="dropdown dropdown-hover">
    <label tabindex="0"><Icon class="mb-5" name="mdi:qrcode-scan" class="w-8"/></label>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      <img src="/projects/images/qr.png" alt="scan me">
      <span class="text-center">scan me 😉</span>
    </ul>
  </div>
  <div class="divider"></div>

  <!-- experiences -->
  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experiences</div>
    </div>

    <div class="time-line-container mb-10">
      {
        experiences.map((e, i: number) => <TimeLineElement 
          title={e.title} 
          subtitle={e.subtitle}
          tags={e.tags}
          >
          {e.slottilte && <p>{e.slottilte}</p>}
          {
            experiences[i].slot?.map(s =>
              <p class="font-light text-sm flex">
                {s.desc} {s.project_link && <a href={s.project_link} target="_blank"><Icon name="mdi:web" class="w-4"/></a> }
              </p>
              <div> { s.stacks ? s.stacks.map(stack => <span class="badge badge-outline mr-1">{stack}</span>) : null } </div>
            )
          }
          </TimeLineElement>)
      }

    </div>
  </div>
  <!-- end experiences -->

  <!-- formations -->
  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Formations</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="ECS (European Communication School)"
        subtitle="Sep 2017 - Jun 2019 Toulouse, France"
      >
        <em>Master Developpment web et Marketing digital</em>
      </TimeLineElement>
      <TimeLineElement
        title="ESTM (Ecole Supérieure de Technologie et de Management de Dakar)"
        subtitle="Sep 2011 - Jui 2014 Dakar, Senegal"
      >
        <em>Licence Téléinformatique parcours génie logiciel et administrateur réseaux</em>
      </TimeLineElement>
    </div>
  </div>
  <!-- end formations -->

  <!-- certifications -->
  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Certifications</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
    </ul>
  </div>
  <!-- end certifications -->

  <!-- skills -->
  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>
    <div class="divider">Languages</div>
    <ul class="md:columns-12 columns-12">
      {
        languages.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">Framworks</div>
    <ul class="md:columns-12 columns-12">
      {
        framworks.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">Libraies & Frontend</div>
    <ul class="md:columns-12 columns-12">
      {
        libs_front.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">Versionning</div>
    <ul class="md:columns-12 columns-12">
      {
        versionning.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">Installer & Packages Manager</div>
    <ul class="md:columns-12 columns-12">
      {
        installer.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">Data</div>
    <ul class="md:columns-12 columns-12">
      {
        data.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">Monitoring</div>
    <ul class="md:columns-12 columns-12">
      {
        monitoring.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">Map</div>
    <ul class="md:columns-12 columns-12">
      {
        maps.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="divider">OS</div>
    <ul class="md:columns-12 columns-12">
      {
        os.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
    <div class="text-start divider">Others</div>
    <ul class="md:columns-12 columns-12">
      {
        others.map(s => <SkillElement title={s.title} icon={s.icon} isSvg={s.isSvg} link={s.link} color={s.color} />)
      }
    </ul>
  </div>
  <!-- end skills -->
</BaseLayout>
