---
const { HorizontalCard } = Astro.props
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const conllection_path = (lang == "en") ? "project_en" : "project_fr"
const _posts = await getCollection(conllection_path);
_posts.sort((a, b) => b.data.position.valueOf() - a.data.position.valueOf());
const posts = _posts.slice(0, 3)
console.log(posts);

---

<div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold mb-2">{t('last_projects')}</div>
  </div>

  <ul>
    {posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={`/${lang}/projects/` + post.slug}
          target="_self"
          badges={post.data.badges}
          stacks={post.data.stacks}
          startDate={post.data.startDate} 
          endDate={post.data.endDate} 
        />
      </>
    ))}
  <div class="flex justify-center">
    <a href={`/${lang}/projects/`} class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg btn-outline">{t("more")}</a>
  </div>
  </ul>
</div>
