---
import { ProjectSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends ProjectSchema {}

const { title, description, startDate, endDate, heroImage, scopes, stacks, link, position } =
  Astro.props;
dayjs.extend(localizedFormat);
const diplayStartDate = dayjs(startDate).format("MMM-YYYY");
const diplayendDate = dayjs(endDate).format("MMM-YYYY");
import { Icon } from 'astro-icon'
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {
        heroImage && (
          <img class="w-full mb-6" src={heroImage} width={750} height={422} alt={title} />
        )
      }
      <div class="flex">
        <h1 class="title my-2 text-4xl font-bold">{title}</h1><br>
        <a href={link} class="pt-3" target="_blank">{link && <Icon name="mdi:web" class="w-8 p-0 m-0"/>}</a>
      </div>
      <div>
        {
          scopes &&
          scopes.map((scope) => <div class="badge badge-secondary mr-1">{scope}</div>)
        }
      </div>
      { position > 0 ? 
        <span class="text-gray-500"> 
          {startDate && <time>{diplayStartDate}</time>} - {endDate && <time>{diplayendDate}</time>}
        </span>
        <br />
      : null }
      <div class="divider my-2"></div>
      {stacks &&
        stacks.map(stack => <span class="badge badge-outline mr-1" title={stack}>{stack}</span>)
      }
      <slot />
    </article>
  </main>
</BaseLayout>
